@charset "UTF-8";
/* All over it. (Global) */

html, button, input, select, textarea {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  width: 100%;
  margin: 0 0 20px;
	background-color: #f8fbff;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}
/* Up top! (Header) */

header {
  color: #000;
}
header h1 {
  background: #FFF;
  width: auto;
  margin: 0 20px 0 30px;
  padding: 50px;
	float: left;
}
header h2 {
  background: #d0d0d0;
  color: #FFF;
  margin: 0;
  padding: 10px;
}
header h4, header p {
  margin: 5px 0 0;
}

.container {
	background-color: #fff
}

.square, .bigsquare {
  height: 60px;
  width: 60px;
  border: 5px solid #fff;
}
.square div {
  height: 100%;
  width: 100%;
}
#square-one {
  background: #36834a;
}
#square-two {
  background: #bd2433;
}
#square-three {
  background: #2740a1;
}
#square-four {
  background: #bc8919;
}
#square-five {
  background: #b66cba;
}
/* Stroke the Furry Wall (#Textures) */

#textures {
  padding-top: 20px;
}
.bigsquare {
  height: 120px;
  width: 120px;
}
.bigsquare div {
  height: 100%;
  width: 100%;
}
#texture-one {
  background-image: url(http://farm4.staticflickr.com/3444/3738069743_c3a22dee34_q.jpg);
}
#texture-two {
  background-image: url(http://farm4.staticflickr.com/3444/3738069743_c3a22dee34_q.jpg);
}
#texture-three {
  background-image: url(http://farm4.staticflickr.com/3444/3738069743_c3a22dee34_q.jpg);
}
/* The Easy Button(s) (#Buttons) */

#buttons {
  clear: both;
  padding-top: 20px;
}
#buttons a {}
#buttons a:hover {}
/* Gosling-Approved Typography (#Typography) */

#typography h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 34px;
  margin: 0;
}
#typography h3 {
  font-size: 24px;
  line-height: 26px;
  margin: 20px 0 0;
}
#typography p {
  font-size: 14px;
  line-height: 22px;
}
.font {
  color: gray;
  font-size: 12px;
  margin: 0;
}
/* Redundant adjectives are redundant. (#Adjectives) */

#adjectives span {
  font-size: 36px;
  margin-right: 30px;
}
/* Down low! (Footer) */

footer {
  clear: both;
  color: gray;
  font-size: 14px;
  line-height: 22px;
  padding: 40px;
}
footer p {
  margin: 0;
}
footer .alignleft p {
  font-style: italic;
}
footer .alignright p {
  font-weight: 700;
}
/* Make it look good on your new-fangled Palm Pilot! (Media Queries) */
/*
@media (max-width: 600px) {
	#elements, #words {
		width: 100%;
	}

	#colors, #textures, #buttons {
		padding-top: 10px;
	}

	#typography {
		margin-top: 20px;
	}
}

@media (max-width: 400px) {
	header h1, header h2, header h4, header p {
		text-align: center;
	}

	#logo h1 {
		float: none;
		display: block;
		margin: 0 auto;
		padding: 10px;
	}
}

*/
/* If you're going to print it, you should probably use the PSD: http://styletil.es/downloads/Style_Tile_Template.psd.zip
...but sometimes we have preemptive printers for bosses. :) So, let's make it one page, hide the footer, and ask Webkit to print background images. */

@media print {
  * {
    -webkit-print-color-adjust: exact;
    overflow: hidden;
    box-shadow: none !important;
  }
  #logo {
    overflow: visible;
  }
  .square, .bigsquare {
    height: 40px;
    width: 40px;
  }
  #colors, #textures, #buttons {
    padding-top: 5px;
  }
  footer {
    display: none;
  }
}
